[Unit]
Description=Sonarr Daemon
After=syslog.target network.target

[Service]
User=gavin
Group=gavin

Type=simple
ExecStart=/opt/mono/bin/mono /opt/sonarr/NzbDrone.exe -nobrowser
TimeoutStopSec=20
KillMode=process
Restart=on-failure

[Install]
WantedBy=multi-user.target
